
<div class="col-10">
<h2>みんなのYoute一覧</h2>
<table class="table table-hover table-inverse mt-5">
  <thead>
    <tr>
      <th>みんなのYoute</th>
      <th>投稿日時</th>
      <th></th>
      <th>タグ</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @youtes.each do |youte| %>
   <tr>
    <td>
      <%=  link_to user_youte_path(youte.id) do %>
        <%= youte.text %>
      <% end %>
    </td>
    <td><%= youte.created_at.strftime("%x") %></td>
    <td><%= youte.genre_id %></td>
   </tr>
  <% end %>
  </tbody>

</table>
</div>