<div class="container">
  <div class="row text">
    <div class="col-8 mx-auto">
      <h1>YouteMiruの使い方＜使用者向け＞</h1>
      <p>Youteはあなたが、人に褒めて欲しいこと、</br>
      アドバイスをもらいたいことを投稿することです。</br>
      内容を書いて、自分が求めているジャンルを選び、言うてみましょう。</br>
      また、誰かに早く反応してもらいたい！というものは</br>
      緊急度を上げて投稿してみましょう。</br>
      </br>
      コメントは、人のYouteに対するリアクションです。</br>
      褒めてあげたり、アドバイスを求めているときは優しい言葉を投稿してみましょう。</br>
      コメントも相手にこれは褒めているよと伝わるように</br>
      いいね！ジャンルを選んだりしましょう。</br>
      </br>
      もらって何度も見直したいコメントは、お気に入り登録することで見直しやすくなります。</br>
      </br>
      YouteMiruには、通報機能があります。</br>
      不適切だと思うものは、通報しましょう。</br>
      通報が一定数の投稿でされると、</br>
      アカウントの使用に一時的な制限を設ける場合があります。</br>
      匿名ですが、優しいコミュニケーションを目指しましょう。</br>
      </p>
    </div>
  </div>
</div>

