<div class="container">
  <div class="row text">
    <div class="col-8 mx-auto">
      <h1>YouteMiruへようこそ！！</h1>
      <p>YouteMiruとは？</br>
      YouteMiruは、社内匿名褒めあい・アドバイス募集サイトです。</br>
      言いたいことをYoute（言うて）Miru（人の投稿を見る）しましょう。</br>
      </br>
      人に褒めてもらいたいけど、一番役職が高いから/一番年上だからほかの人に言いにくい…</br>
      自分の所属するグループやプロジェクト外の人からも、気軽にアドバイスがもらいたい…</br>
      時などに使います。</br>
      </br>
      社内だけの匿名サイトなので、自分の役職や年齢を気にせず、気軽に書いてみましょう。</p>
    </div>
  </div>
</div>

