<div class="container">
  <div class="row text">
    <div class="col-8 mx-auto">
      <h1>YouteMiruの使い方＜管理者向け＞</h1>
      <p>Youteやコメント一覧では、社内の皆さんが投稿したものが見られます。</br>
      </br>
      ユーザー一覧では、ユーザーの詳細情報や、</br>
      その人がどれくらい通報されているかわかります。</br>
      また、詳細画面の「ステータス変更」から</br>
      退職した社員のアカウントではログインできないようにしたり、</br>
      通報が多くされているアカウントの利用を制限することができます。</br>
      </br>
      タグ一覧では、Youteとコメント投稿時につけるタグの種類を増やすことができます。</p>
    </div>
  </div>
</div>