@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
 body{
  background-color: #f8f8ff;
}

.table{
 margin: 30px;
 padding: 10px;
 border: 5px solid #dcdcdc;
 background-color: #e0ffff;
}

table{
 background-color: #f0f8ff;
}

 .youte {
  margin: 30px;
  padding: 10px;
  border: 5px solid #dcdcdc;
  background-color: #e0ffff;
}

.comment{
  margin: 30px;
  padding: 10px;
  border: 5px solid #dcdcdc;
  background-color: #e0ffff;
}

.frame{
  margin: 20px auto;
  padding: 10px;
  border: 5px solid #dcdcdc;
  background-color: #f0f8ff;
}

.text{
  margin: 30px;
  background-color: #e0ffff;
}

.info{
  margin: 30px;
  padding: 10px;
  border: 5px solid #dcdcdc;
  background-color: #e0ffff;
}

.flash{
 background-color: #f0e68c;
}